<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHLelx6eLfRFFVq1IrRT9xz6_JsnTNh80</string>
	<key>GCM_SENDER_ID</key>
	<string>989230253813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcs13</string>
	<key>PROJECT_ID</key>
	<string>gameapp-e2b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>gameapp-e2b9e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989230253813:ios:590b997948af7e7b5b27bc</string>
</dict>
</plist>